Package: com.Jailbreak-Update.shake2toggle
Name: Shake3Toggle
Depends: mobilesubstrate, applist
Architecture: iphoneos-arm
Description: Control your device with shakes.
Depiction: https://jailbreak-update.github.io/img/wallpapers/com.Jailbreak-Update.shake2toggle.html
Icon: https://jailbreak-update.github.io/img/wallpapers/2.png
Maintainer: Jailbreak-Update <jailbreak14update@gmail.com>
Author: Jailbreak-Update <jailbreak14update@gmail.com>
Section: Tweaks
Version: 1.0
